* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
} .App-header h1 {
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.subtitle {
  color: #777;
}